<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="pagedesginStyles.css">
    <link rel="stylesheet" href="logintSyle.css">
    <link rel="stylesheet" href="signUpStyle.css">

    
    <title>Library SignUp</title>
</head>
<body>
  <%- include('./partials/navbar')  %>

    <div class="container marginTop marginBottomReduce minHeight mb-5" >
        <div class="row justify-content-center">
            <div class="col-md-12 col-8 " style="z-index: 100;">
                
                <main>
                    <div class="stepper">
                      <div class="step--1 step-active">Step 1</div>
                      <div class="step--2">Step 2</div>
                      <div class="step--3">Step 3</div>
                      <div class="step--4">Step 4</div>
                      <div class="step--5">Step 5</div>
                      <div class="step--6">Finish</div> 
                    </div>
                    <form class="form form-active">
                      <div class="form--header-container">
                        <h1 class="form--header-title">
                          SignUp Form
                        </h1>
              
                        <p class="form--header-text">
                          Enter your Name & Username.
                        </p>
                      </div>
                      <!-- <input type="text" placeholder="Username" /> -->
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="nameError"></div>
                        <input class="form-control" type="text" id="name" placeholder="Name" required/>
                        <span class="pushRight">Name</span>
                      </label>
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="unameError"></div>
                        <input class="form-control" type="text" id="uname" placeholder="Username" required/>
                        <span class="pushRight">Username</span>
                      </label>
                      
                      <button class="form__btn" id="btn-1">Next</button>
                    </form>
                    <form class="form">
                      <div class="form--header-container">
                        <h1 class="form--header-title">
                            SignUp Form
                        </h1>
              
                        <p class="form--header-text">
                          Enter your Email ID & Mobile No.
                        </p>
                      </div>
              
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="emailError"></div>
                        <input class="form-control" type="email" id="email" placeholder="Email" required/>
                        <span class="pushRight">Email</span>
                      </label>
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="mobileError"></div>
                        <input class="form-control" type="text" id="mobile" placeholder="Mobile" required/>
                        <span class="pushRight">Mobile</span>
                      </label>
                      
                      <button class="form__btn" id="btn-2-prev">Previous</button>
                      <button class="form__btn" id="btn-2-next">Next</button>
                    </form>
                    <form class="form">
                      <div class="form--header-container">
                        <h1 class="form--header-title">
                            SignUp Form
                        </h1>
              
                        <p class="form--header-text">
                          Enter your Password and repeat it.
                        </p>
                      </div>
              
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="passwordError"></div>
                        <input class="form-control" type="password" id="password" placeholder="Password" required/>
                        <span class="pushRight">Password</span>
                        <i toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password"></i>
                      </label>
                      <div id="passLenthIndicator" class="text-center hidden"> short</div>
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="rpasswordError"></div>
                        <input class="form-control" type="password" id="rpassword" placeholder="Repeat Password" required/>
                        <span class="pushRight">Repeat Password</span>
                      </label>
                      
                      <button class="form__btn" id="btn-3-prev">Previous</button>
                      <button class="form__btn" id="btn-3-next">Next</button>
                    </form>
                    <form class="form">
                      <div class="form--header-container">
                        <h1 class="form--header-title">
                            SignUp Form
                        </h1>
              
                        <p class="form--header-text">
                          Enter your DOB & Gender.
                        </p>
                      </div>
              
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="dobError"></div>
                        <input class="form-control" type="date" id="dob" placeholder="DOB" required/>
                        <span class="pushRight">DOB</span>
                      </label>
                      
                        <div class="violet" >Gender:</div>
                        <div id="genderGroup">
                          <div>
                            <span>Male:</span><input class="form-control" type="radio" id="gender" name="gender" value="male" required checked/>

                          </div>
                          <div>
                            <span>Female:</span><input class="form-control" type="radio" id="gender2" name="gender" value="female" required/>
                          </div>
                          <div>
                            <span>Other:</span><input class="form-control" type="radio" id="gender3" name="gender" value="other" required/>

                          </div>
                          
                        </div>  
                      
                      
                      <button class="form__btn" id="btn-4-prev">Previous</button>
                      <button class="form__btn" id="btn-4-next">Next</button>
                    </form>
                    <form class="form">
                      <div class="form--header-container">
                        <h1 class="form--header-title">
                            SignUp Form
                        </h1>
              
                        <p class="form--header-text">
                          Enter your Address.
                        </p>
                      </div>
              
                      <label class="form-group has-float-label">
                        <div class="errorMsg hidden" id="addressError"></div>
                        <input class="form-control" type="text" id="address" placeholder="Address" required/>
                        <span class="pushRight">Address</span>
                      </label>
                      
                      
                      <button class="form__btn" id="btn-5-prev">Previous</button>
                      <button class="form__btn" id="signUpBtn">Sign Up</button>
                    </form>
                    
                    <div class="form--message"></div>
                  </main>
            
            </div>

        </div>
    </div>
    <div id="particles-js">

    </div>

    
    <%- include('./partials/footer')  %>
    

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


     <!-- particle.js files -->
    <script src="particles.js"></script>
    <script src="app.js"></script>

    <script src="pagedesignAnimations.js"></script>
    <script src="SignUpFormValidation.js"></script>
    <script src="signUpStepperForm.js"></script>
</body>
</html>
